PIR_Sensor/OWSOO_DECODE/Raspberry/node-red-flow-PIRtoBLE.json
[{"id":"e727a894.74da28","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"d553e7e7.2953e8","type":"debug","z":"e727a894.74da28","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":880,"y":280,"wires":[]},{"id":"d0a34734.1a0398","type":"exec","z":"e727a894.74da28","command":"bash -c \"DISPLAY=:0 exec -a testPID cvlc --volume 100 /home/pi/Desktop/All.mp3\" ","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":970,"y":100,"wires":[["d553e7e7.2953e8"],["d553e7e7.2953e8"],["d553e7e7.2953e8"]]},{"id":"1fc207ad.2f9d18","type":"exec","z":"e727a894.74da28","command":"bash -c  \"killall -s 9 vlc\"","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":540,"y":40,"wires":[[],[],["d0a34734.1a0398"]]},{"id":"d449fb2c.be39e8","type":"switch","z":"e727a894.74da28","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":150,"y":380,"wires":[["39940159.f9317e"],["9133528f.7939b"]]},{"id":"39940159.f9317e","type":"exec","z":"e727a894.74da28","command":"bash -c \"DISPLAY=:0 exec -a testPID amixer -D pulse sset Master 70%\"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Volume Up","x":330,"y":340,"wires":[["fa7bc49b.526f88"],["fa7bc49b.526f88"],["fa7bc49b.526f88"]]},{"id":"9133528f.7939b","type":"exec","z":"e727a894.74da28","command":"bash -c \"DISPLAY=:0 exec -a testPID amixer -D pulse sset Master 0%\"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Volume Down","x":340,"y":420,"wires":[["fa7bc49b.526f88"],["fa7bc49b.526f88"],["fa7bc49b.526f88"]]},{"id":"fa7bc49b.526f88","type":"debug","z":"e727a894.74da28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":340,"wires":[]},{"id":"9b7bad25.6bb36","type":"delay","z":"e727a894.74da28","name":"","pauseType":"rate","timeout":"14","timeoutUnits":"minutes","rate":"1","nbRateUnits":"23","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":320,"y":100,"wires":[["1fc207ad.2f9d18","8625a187.ca8c8"]]},{"id":"8d46e504.668cb8","type":"trigger","z":"e727a894.74da28","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"15","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":150,"y":260,"wires":[["d449fb2c.be39e8"]]},{"id":"be44e442.483c78","type":"switch","z":"e727a894.74da28","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"detected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":150,"y":160,"wires":[["8d46e504.668cb8","9b7bad25.6bb36"]]},{"id":"8625a187.ca8c8","type":"exec","z":"e727a894.74da28","command":"bash -c \"DISPLAY=:0 exec -a testPID amixer -D pulse sset Master 0%\"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Volume Down","x":540,"y":120,"wires":[[],[],[]]},{"id":"3684052d.61476a","type":"mqtt in","z":"e727a894.74da28","name":"","topic":"PIR","qos":"2","datatype":"utf8","broker":"489746e2.3b8bf8","x":90,"y":40,"wires":[["be44e442.483c78","51b4805d.d8bcf"]]},{"id":"51b4805d.d8bcf","type":"debug","z":"e727a894.74da28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":20,"wires":[]},{"id":"489746e2.3b8bf8","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"PIR","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]